/* MADE BY: BADER ALMAZMUMI */

/*GLOPAL CSS */

* {
    font-family: 'Cairo', sans-serif;
    direction: rtl;
}

a,
a:hover {
    text-decoration: none;
    cursor: pointer;
}

/* LOGO */

.logo {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.logo img {
    width: 200px;
    height: 61px;
}


/* SECTIONS 1 - HEADER */

.section:nth-child(1) {
    background-image: linear-gradient(300deg, rgba(137, 211, 217, 0.8), rgba(248, 238, 95, 0.77)), url(../img/homePageBackground.jpg);
    background-position: center center;
    background-size: cover;
}


.welcomeMsg {
    text-align: center;
    margin: 30px;
    font-size: 60px;
    color: #FFF;
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    box-shadow: #89d3d9 2px 2px;
    border: none;
    -webkit-appearance: none;
}

.countries h1 {
    margin: 0 auto 0 auto;
    text-align: right;
    width: 650px;
    color: #FFF;
    font-size: 30px;
    margin-bottom: 10px;
}

.countries button {
    display=block;
    color: #FFF;
    background-color: #89d3d9;
    border-radius: 5px;
    border: none;
    height: 5vh;
    width: 30%;
    font-size: 15px;
    font-weight: bold;
    margin: 20px 35% auto 35%;
}



.section:nth-child(1) .container {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around;

}

.countries {
    border-radius: 5px;
    width: 50vw;
    padding: 10px;
}



.countries p a {
    text-decoration: none;
    color: #000;

}

.countries p {
    display: inline-block;
    font-size: 20px;
    min-width: 15vw;
    background-color: #FFF;
    border-radius: 64px;
}

.countries p img {
    width: 50px;
    height: 50px;
    margin-left: 15px;
}



/* SECTION 2 */

.section:nth-child(2) {
    background-color: #edea6a;
}

.section:nth-child(2) h1 {
    text-align: center;
}



/* SECTION 3 */

.section:nth-child(3) {

    background-color: #89d3d9;
}

/* CONTACT US FORM */

#contactUSForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: center;
    height: 100vh;
    padding: 0 10vw;
}

#contactUSForm .input {
  padding: 10px;
      border: none;
      font-size: 16px;
      -webkit-box-shadow: -4px 8px 5px rgba(119, 115, 115, 0.16);
      box-shadow: -4px 8px 5px rgba(119, 115, 115, 0.16);
      margin-bottom: 20px;
}

.inputMain {
    float: right!important;
}

#contactUSForm .input:nth-child(2) {
    margin-left: 5px;

}

#contactUSForm .input:nth-child(1) {

    /*    margin-right: 5px;*/
}

#contactUSForm .msg {
    padding: 10px;
    border: none;
    -webkit-box-shadow: -4px 8px 5px rgba(119, 115, 115, 0.16);
    box-shadow: -4px 8px 5px rgba(119, 115, 115, 0.16);
    resize: none;
}

#contactUSForm .button {
    margin-top: 20px;
    background-color: #edea6a;
    height: 40px;
    border-radius: 6px;
    -webkit-box-shadow: -4px 8px 5px rgba(119, 115, 115, 0.16);
    box-shadow: -4px 8px 5px rgba(119, 115, 115, 0.16);
    border: none;

}

/* GOOGLFOURM */

#backButton {
    background-color: #673ab7;
    height: 56px;
    width: 56px;
    position: absolute;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    box-sizing: content-box;
    cursor: pointer;
    outline: none;
    padding: 0;
    border-radius: 50%;
    bottom: 20px;
    left: 96px;
    color: white;
}

#refreshButton {
    background-color: #673ab7;
    height: 56px;
    width: 56px;
    position: absolute;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    box-sizing: content-box;
    cursor: pointer;
    outline: none;
    padding: 0;
    border-radius: 50%;
    bottom: 20px;
    left: 20px;
    color: white;
}

#closeButton {
    background-color: #d23f31;
    height: 56px;
    width: 56px;
    position: absolute;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    box-sizing: content-box;
    cursor: pointer;
    outline: none;
    padding: 0;
    border-radius: 50%;
    top: 20px;
    left: 20px;
    color: white;
}

iframe {
    width: 100vw;
    border: none;
    height: 100vh;
}


/* FOOTER */

.links a {
    padding: 0.3em;
}

.section:nth-child(4) {
    background-color: #525250;
    padding: 10px;
}

.footer p {
    color: #FFF;
    text-align: center;
    margin-top: 10px height: 70px;
    line-height: 70px
}

.footer a {
    color: #FFF;
    display: inline-block;
}

.footer a:hover {
    color: #edea6a;
}

.footer .social i {
    margin: 10px 5px;
    font-size: 20px;
    color: #edea6a;
}




/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 3vw auto;
    padding: 5vw;
    border: 1px solid #888;
    width: 80%;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

}

/* The Close Button */

.close {
    color: #aaa;
    position: absolute;
    top: 25px;
    left: 40px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



/* MOBILE CSS */

@media screen and (max-width:992px) {
    .countries {
        width: 100vw;
        padding: 0;

    }
    .welcomeMsg {
        font-size: 40px;
    }
    .countries h1 {
        text-align: center;
        width: 60%;
        font-size: 25px;
        text-align: right;
    }
    .countriesList {
        width: 100vw;
        position: absolute;
        bottom: 0;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        margin: auto;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .countriesList p {
        text-align: center;
        background-color: transparent;
    }
    .countriesList p img {
        margin: 0;
    }
    #contactUSForm .input {
        margin-left: 0!important;
        margin-right: 0!important;
    }
    select {
        width: 60%;
        margin-right: 20vw;
        padding: 5px;
        border-radius: 15px;
        box-shadow: #89d3d9 2px 2px;
        border: none;
        background-color: #fff;
    }

    input[type="color"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"],
    input[type="week"],
    select,
    textarea {
      font-size: 16px;
    }
}
